<!DOCTYPE html>
<html>
<head lang="fr">
    <meta charset="UTF-8">
    <title>Bande annonce</title>

    <link rel="stylesheet" href="/css/jquery/jquery.mobile.min.css">
    <link rel="stylesheet" href="/css/jquery/jquery-ui.min.css">
    <link rel="stylesheet" href="/css/materialize.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen"/>
</head>
<body id="<%= id %>" class="movie-details">

<% include partials/menu.ejs %>

<div id="content">
    <iframe width="780" height="430" src="https://www.youtube.com/embed/<%= key %> %>" frameborder="0"
            allowfullscreen></iframe>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/jquery/jquery.min.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>-->

<script>
    io = io.connect();
    var $ = jQuery;

    // Emit ready event.
    io.emit('ready');
    console.time('ready');
    io.emit('bande-annonce', {id: $('body').attr('id')});

    // Listen for the talk event.
    io.on('ready', function (data) {
        console.timeEnd('ready');

        io.on('bande-annonce', function (data) {
            console.log(data);
            if (data.site == "Youtube")
                $('iframe').attr('src', 'https://www.youtube.com/embed/' + data.key);

        });
    });
    $('.ui-page').css('background-color', 'rgba(0,0,0,0)');
</script>

</body>
</html>