<!DOCTYPE html>
<html>
<head lang="fr">
    <meta charset="UTF-8">
    <title><%= title %></title>

    <link rel="stylesheet" href="/css/jquery/jquery.mobile.min.css">
    <link rel="stylesheet" href="/css/jquery/jquery-ui.min.css">
    <link rel="stylesheet" href="/css/materialize.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen"/>
</head>
<body id="<%= id %>" class="movie-details">

<% include partials/menu.ejs %>

<div id="content">
    <div class="fond">
        <h2></h2>
        <span id="year"></span>
        <span id="rating"></span>
        <span id="genre"></span>
        <span id="adult"></span>

        <p id="overview"></p>
    </div>
    <img id="jaquette" src="" alt="jaquette"/>

    <div id="commands">
        <ul>
            <li>Lecture</li>
            <li><a href="/movie/<%= id %>/bande-annonce">Voir la Bande Annonce</a></li>
        </ul>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/jquery/jquery.min.js"></script>
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>-->

<script>
    io = io.connect();
    var $ = jQuery;

    // Emit ready event.
    io.emit('ready');
    console.time('ready');
    io.emit('details-movie', {id: $('body').attr('id')});

    // Listen for the talk event.
    io.on('ready', function (data) {
        console.timeEnd('ready');

        io.on('details-movie', function (data) {
            console.log(data);
            var body = $('body');
            $(body).css('background-image', 'url(' + data.backgroundURL + ')');
            $(body).css('background-size', 'cover');

            var content = $('#content');
            $('h2', content).text(data.title);
            $('#year', content).text(data.year);
            $('#rating', content).text(data.rating);
            $('#genre', content).text(data.genre);
            $('#adult', content).text(data.adult);
            $('#overview', content).text(data.overview);
            $('#jaquette', content).attr('src', data.posterURL);

        });
    });
    $('.ui-page').css('background-color', 'rgba(0,0,0,0)');
</script>

</body>
</html>