<!DOCTYPE html>
<html>
<head lang="fr">
    <meta charset="UTF-8">
    <title><%= title %></title>

    <link rel="stylesheet" href="/css/materialize.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body id="<%= id %>" class="movie-details">

<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <% include partials/menu.ejs %>
            <ul class="right">
                <li><a href="/list-movies"><i class="material-icons mdi-image-navigate-before"></i></a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="had-container">
    <div id="content" class="row">
        <h4></h4>
        <span id="year"></span>
        <span id="rating" class="right"></span>

        <div class="fond col s9 z-depth-2">
            <span id="genre"></span>
            <span id="adult"></span>

            <p id="overview"></p>
        </div>
        <div class="col s3">
            <img id="jaquette" class="responsive-img" src="" alt="jaquette"/>
        </div>
    </div>
    <div id="commands" class="row">
        <div class="col s12 center-align">
            <a class="btn-floating btn-large waves-effect waves-light green" href="#"><i
                        class="material-icons mdi-av-play-arrow"></i></a>
            <a id="ba" class="btn-floating btn-large waves-effect waves-light blue"
               href="/movie/<%= id %>/bande-annonce"><i
                        class="material-icons mdi-av-movie"></i></a>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/jquery/jquery.min.js"></script>
<script src="/js/materialize/bin/materialize.min.js"></script>
<script src="/js/custom/details-movie.js"></script>

</body>
</html>