<!DOCTYPE html>
<html>
<head lang="fr">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="/css/materialize.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen"/>
</head>
<body>

<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="side-nav" id="mobile-demo">
                <li><a href="/">Accueil</a></li>
                <li><a href="/list-movies">Liste des films</a></li>
                <li><a href="/search-movies">Rechercher un film</a></li>
                <li><a href="/new-movies">Nouveautés</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="had-container">
    <div class="row">
        <div class="col s6">

        </div>
    </div>
    <div class="row">
        <a href="/list-movies" class="col s4 valign-wrapper waves-effect waves-light btn-large btn-3 indigo valign">
            <span class="valign">Liste des films</span>
        </a>
        <a href="/search-movies" class="col s4 valign-wrapper waves-effect waves-light btn-large btn-3 valign">
            <span class="valign">Chercher un film</span>
        </a>
        <a href="/new-movies" class="col s4 valign-wrapper waves-effect waves-light btn-large btn-3 blue-grey valign">
            <span class="valign">Nouveautés</span>
        </a>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/jquery/jquery.min.js"></script>
<script src="/js/materialize/bin/materialize.min.js"></script>
<script src="/js/custom/index.js"></script>

</body>
</html>