<!DOCTYPE html>
<html>
<head lang="fr">
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="/css/materialize.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <% include partials/menu.ejs %>
        </div>
    </nav>
</div>

<div class="had-container">
    <div class="row">
        <div class="col s6">

        </div>
        <div class="col s6">

        </div>
    </div>
    <div class="row">
        <div class="col s4">

        </div>
        <div class="col s4">

        </div>
        <div class="col s4">

        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/jquery/jquery.min.js"></script>
<script src="/js/materialize/bin/materialize.min.js"></script>
<script src="/js/custom/index.js"></script>

</body>
</html>