<!DOCTYPE html>
<html>
<head lang="fr">
    <meta charset="UTF-8">
    <title>Liste des films</title>

    <link rel="stylesheet" href="/css/materialize.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body class="list-movies">

<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <% include partials/menu.ejs %>
            <ul class="right">
                <li><a href="#" class="sort-releasedate"><i class="material-icons mdi-communication-import-export"></i></a>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="had-container">
    <div id="list-movies" class="row">
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/jquery/jquery.min.js"></script>
<script src="/js/materialize/bin/materialize.min.js"></script>
<script src="/js/custom/list-movies.js"></script>

</body>
</html>