<!DOCTYPE html>
<html>
<head lang="fr">
    <meta charset="UTF-8">
    <title>Nouveautés</title>
</head>
<body>

<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <% include partials/menu.ejs %>
        </div>
    </nav>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/jquery/jquery.min.js"></script>
<script src="/js/bin/materialize.min.js"></script>

</body>
</html>