html {
  width: 100%;
  height: 100%;

  body {
    width: 100%;
    height: 100%;

    #content {
      width: 100%;
      height: 100%;

      .top {
        width: 100%;
        height: 50%;

      }

      .bottom {
        width: 100%;
        height: 50%;

        .section {
          width: 32%;
          height: 100%;
          /*position:absolute;*/
          display: table;
          float: left;
          margin-left: 2%;
          &:first-child {
            margin-left: inherit;
          }

          a {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
          }
        }

      }
    }

    &.movie-details {

      #content {
        padding: 14px;
        font-size: 20px;

        h2 {
          font-size: 28px;
          display: inline;
        }

        #year {
          margin-left: 10px;
          font-size: 24px;
        }

        #genre {
          font-size: 13px;
        }

        #overview {
          width: 600px;
        }

        #jaquette {
          width: 300px;
          position: absolute;
          top: 30px;
          right: 30px;
        }
      }
    }
  }
}